# cp .env.example .env

# Gemini / LiteLLM
GEMINI_API_KEY=
LITELLM_BASE_URL=

# LINE Bot Channel 1
LINE_1_CHANNEL_ID=
LINE_1_CHANNEL_SECRET=
LINE_1_CHANNEL_ACCESS_TOKEN=

# LINE Bot Channel 2
LINE_2_CHANNEL_ID=
LINE_2_CHANNEL_SECRET=
LINE_2_CHANNEL_ACCESS_TOKEN=

# add new channel -> add key to config.py and here
